In [1]:
import pandas as pd
import numpy as np
import random as rd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# overall results
# comparar valores en el año 2016 (cambio presidencial)
# comparar valores en el año 2020 (pandemia)
# mi portafolio

In [3]:
apple = pd.read_csv("Datasets/AAPL1424.csv")
amazon = pd.read_csv("Datasets/AMZN1424.csv")
google = pd.read_csv("Datasets/GOOGL1424.csv")
meta = pd.read_csv("Datasets/META1424.csv")
microsoft = pd.read_csv("Datasets/MSFT1424.csv")
nvidia = pd.read_csv("Datasets/NVDA1424.csv")
tesla = pd.read_csv("Datasets/TSLA1424.csv")

In [4]:
apple.head()

,Unnamed: 0,Date,Open,High,Low,Close,Adj Close,Volume,ATR (7 Days),RSI (7 Days),RSI (14 Days),EMA (50 Days),EMA (100 Days),SMA (50 Days),SMA (100 Days),Log Return,Percent Return,Cumulative Log Return,Cumulative Percent Return
0,0,2014-01-02,19.845715,19.893929,19.715000,19.754642,17.296656,234684800,0.0,100.000000,100.000000,19.754642,19.754642,19.754642,19.754642,NaN,NaN,NaN,NaN
1,1,2014-01-03,19.745001,19.775000,19.301071,19.320715,16.916718,392467600,0.0,0.000000,0.000000,19.737626,19.746050,19.537679,19.537679,-0.022211,-0.021966,-0.022211,-0.021966
2,2,2014-01-06,19.194643,19.528570,19.057142,19.426071,17.008972,412610800,0.0,22.073647,20.727624,19.725408,19.739714,19.500476,19.500476,0.005438,0.005453,-0.016772,-0.016513
3,3,2014-01-07,19.440001,19.498571,19.211430,19.287144,16.887323,317209200,0.0,16.477971,16.013941,19.708221,19.730752,19.447143,19.447143,-0.007177,-0.007152,-0.023950,-0.023664
4,4,2014-01-08,19.243214,19.484285,19.238930,19.409286,16.994270,258529600,0.0,33.713672,30.893616,19.696498,19.724386,19.439572,19.439572,0.006313,0.006333,-0.017637,-0.017332

In [5]:
# Eliminar la columna 'Unnamed: 0' de todos los DataFrames
dataframes = [apple, amazon, google, meta, microsoft, nvidia, tesla]

for df in dataframes:
    if 'Unnamed: 0' in df.columns:
        df.drop(columns=['Unnamed: 0'], inplace=True)

# Mostrar las primeras filas para verificar que se haya eliminado la columna
for df_name, df in zip(['apple', 'amazon', 'google', 'meta', 'microsoft', 'nvidia', 'tesla'], dataframes):
    print(f"Primeras filas de {df_name}:")
    print(df.head(), "\n")

Primeras filas de apple:
         Date       Open       High        Low      Close  Adj Close  \
0  2014-01-02  19.845715  19.893929  19.715000  19.754642  17.296656
1  2014-01-03  19.745001  19.775000  19.301071  19.320715  16.916718
2  2014-01-06  19.194643  19.528570  19.057142  19.426071  17.008972
3  2014-01-07  19.440001  19.498571  19.211430  19.287144  16.887323
4  2014-01-08  19.243214  19.484285  19.238930  19.409286  16.994270

      Volume  ATR (7 Days)  RSI (7 Days)  RSI (14 Days)  EMA (50 Days)  \
0  234684800           0.0    100.000000     100.000000      19.754642
1  392467600           0.0      0.000000       0.000000      19.737626
2  412610800           0.0     22.073647      20.727624      19.725408
3  317209200           0.0     16.477971      16.013941      19.708221
4  258529600           0.0     33.713672      30.893616      19.696498

   EMA (100 Days)  SMA (50 Days)  SMA (100 Days)  Log Return  Percent Return  \
0       19.754642      19.754642       19.754642         NaN             NaN
1       19.746050      19.537679       19.537679   -0.022211       -0.021966
2       19.739714      19.500476       19.500476    0.005438        0.005453
3       19.730752      19.447143       19.447143   -0.007177       -0.007152
4       19.724386      19.439572       19.439572    0.006313        0.006333

   Cumulative Log Return  Cumulative Percent Return
0                    NaN                        NaN
1              -0.022211                  -0.021966
2              -0.016772                  -0.016513
3              -0.023950                  -0.023664
4              -0.017637                  -0.017332

Primeras filas de amazon:
         Date       Open     High        Low      Close  Adj Close    Volume  \
0  2014-01-02  19.940001  19.9680  19.701000  19.898500  19.898500  42756000
1  2014-01-03  19.914499  20.1355  19.811001  19.822001  19.822001  44204000
2  2014-01-06  19.792500  19.8500  19.421000  19.681499  19.681499  63412000
3  2014-01-07  19.752001  19.9235  19.714500  19.901501  19.901501  38320000
4  2014-01-08  19.923500  20.1500  19.802000  20.096001  20.096001  46330000

   ATR (7 Days)  RSI (7 Days)  RSI (14 Days)  EMA (50 Days)  EMA (100 Days)  \
0           0.0    100.000000     100.000000      19.898500       19.898500
1           0.0      0.000000       0.000000      19.895500       19.896986
2           0.0      0.000000       0.000000      19.887108       19.892719
3           0.0     55.466962      52.830537      19.887673       19.892892
4           0.0     71.672984      68.616366      19.895842       19.896914

   SMA (50 Days)  SMA (100 Days)  Log Return  Percent Return  \
0      19.898500       19.898500         NaN             NaN
1      19.860250       19.860250   -0.003852       -0.003845
2      19.800667       19.800667   -0.007113       -0.007088
3      19.825875       19.825875    0.011116        0.011178
4      19.879900       19.879900    0.009726        0.009773

   Cumulative Log Return  Cumulative Percent Return
0                    NaN                        NaN
1              -0.003852                  -0.003845
2              -0.010965                  -0.010933
3               0.000151                   0.000245
4               0.009876                   0.010019

Primeras filas de google:
         Date       Open       High        Low      Close  Adj Close  \
0  2014-01-02  27.914413  27.971722  27.734234  27.855856  27.855856
1  2014-01-03  27.902903  27.951200  27.650902  27.652653  27.652653
2  2014-01-06  27.853104  27.999498  27.688688  27.960960  27.960960
3  2014-01-07  28.153152  28.520771  28.057056  28.500000  28.500000
4  2014-01-08  28.678679  28.711712  28.360611  28.559309  28.559309

      Volume  ATR (7 Days)  RSI (7 Days)  RSI (14 Days)  EMA (50 Days)  \
0   72783144           0.0    100.000000     100.000000      27.855856
1   66601332           0.0      0.000000       0.000000      27.847887
2   70701228           0.0     63.900366      62.034189      27.852321
3  102001896           0.0     84.327854      82.488298      27.877721
4   89610300           0.0     85.389145      83.539111      27.904450

   EMA (100 Days)  SMA (50 Days)  SMA (100 Days)  Log Return  Percent Return  \
0       27.855856      27.855856       27.855856         NaN             NaN
1       27.851832      27.754254       27.754254   -0.007322       -0.007295
2       27.853993      27.823156       27.823156    0.011088        0.011149
3       27.866785      27.992367       27.992367    0.019095        0.019278
4       27.880499      28.105756       28.105756    0.002079        0.002081

   Cumulative Log Return  Cumulative Percent Return
0                    NaN                        NaN
1              -0.007322                  -0.007295
2               0.003766                   0.003854
3               0.022861                   0.023133
4               0.024940                   0.025214

Primeras filas de meta:
         Date       Open       High        Low      Close  Adj Close  \
0  2014-01-02  54.830002  55.220001  54.189999  54.709999  54.652012
1  2014-01-03  55.020000  55.650002  54.529999  54.560001  54.502174
2  2014-01-06  54.419998  57.259998  54.049999  57.200001  57.139374
3  2014-01-07  57.700001  58.549999  57.220001  57.919998  57.858608
4  2014-01-08  57.599998  58.410000  57.230000  58.230000  58.168282

     Volume  ATR (7 Days)  RSI (7 Days)  RSI (14 Days)  EMA (50 Days)  \
0  43195500           0.0    100.000000     100.000000      54.709999
1  38246200           0.0      0.000000       0.000000      54.704117
2  68852600           0.0     95.356104      94.988506      54.801995
3  77207400           0.0     96.437103      96.081667      54.924269
4  56682400           0.0     96.810096      96.441576      55.053906

   EMA (100 Days)  SMA (50 Days)  SMA (100 Days)  Log Return  Percent Return  \
0       54.709999      54.709999       54.709999         NaN             NaN
1       54.707029      54.635000       54.635000   -0.002745       -0.002742
2       54.756395      55.490000       55.490000    0.047253        0.048387
3       54.819040      56.097500       56.097500    0.012509        0.012587
4       54.886584      56.524000       56.524000    0.005338        0.005352

   Cumulative Log Return  Cumulative Percent Return
0                    NaN                        NaN
1              -0.002745                  -0.002742
2               0.044507                   0.045645
3               0.057016                   0.058233
4               0.062354                   0.063585

Primeras filas de microsoft:
         Date       Open       High        Low      Close  Adj Close  \
0  2014-01-02  37.349998  37.400002  37.099998  37.160000  31.233059
1  2014-01-03  37.200001  37.220001  36.599998  36.910000  31.022928
2  2014-01-06  36.849998  36.889999  36.110001  36.130001  30.367342
3  2014-01-07  36.330002  36.490002  36.209999  36.410000  30.602690
4  2014-01-08  36.000000  36.139999  35.580002  35.759998  30.056353

     Volume  ATR (7 Days)  RSI (7 Days)  RSI (14 Days)  EMA (50 Days)  \
0  30632200           0.0    100.000000     100.000000      37.160000
1  31134800           0.0      0.000000       0.000000      37.150196
2  43603700           0.0      0.000000       0.000000      37.110188
3  35802800           0.0     24.729574      22.953644      37.082730
4  59971700           0.0     14.810223      14.584438      37.030858

   EMA (100 Days)  SMA (50 Days)  SMA (100 Days)  Log Return  Percent Return  \
0       37.160000      37.160000       37.160000         NaN             NaN
1       37.155049      37.035000       37.035000   -0.006750       -0.006728
2       37.134751      36.733334       36.733334   -0.021359       -0.021132
3       37.120400      36.652500       36.652500    0.007720        0.007750
4       37.093461      36.474000       36.474000   -0.018014       -0.017852

   Cumulative Log Return  Cumulative Percent Return
0                    NaN                        NaN
1              -0.006750                  -0.006728
2              -0.028109                  -0.027860
3              -0.020389                  -0.020110
4              -0.038403                  -0.037963

Primeras filas de nvidia:
         Date    Open   High     Low   Close  Adj Close    Volume  \
0  2014-01-02  3.9800  3.995  3.9300  3.9650   3.740547  26009200
1  2014-01-03  3.9725  3.980  3.9050  3.9175   3.695736  25933200
2  2014-01-06  3.9575  4.000  3.9200  3.9700   3.745264  40949200
3  2014-01-07  4.0100  4.050  3.9825  4.0350   3.806585  33328800
4  2014-01-08  4.0500  4.110  4.0350  4.0900   3.858472  30819200

   ATR (7 Days)  RSI (7 Days)  RSI (14 Days)  EMA (50 Days)  EMA (100 Days)  \
0           0.0    100.000000     100.000000       3.965000        3.965000
1           0.0      0.000000       0.000000       3.963137        3.964059
2           0.0     56.321898      54.343867       3.963406        3.964177
3           0.0     75.915505      73.526273       3.966214        3.965579
4           0.0     83.307619      80.855835       3.971068        3.968043

   SMA (50 Days)  SMA (100 Days)  Log Return  Percent Return  \
0       3.965000        3.965000         NaN             NaN
1       3.941250        3.941250   -0.012052       -0.011980
2       3.950833        3.950833    0.013312        0.013401
3       3.971875        3.971875    0.016240        0.016373
4       3.995500        3.995500    0.013539        0.013631

   Cumulative Log Return  Cumulative Percent Return
0                    NaN                        NaN
1              -0.012052                  -0.011980
2               0.001260                   0.001422
3               0.017500                   0.017794
4               0.031039                   0.031425

Primeras filas de tesla:
         Date       Open       High       Low      Close  Adj Close    Volume  \
0  2014-01-02   9.986667  10.165333  9.770000  10.006667  10.006667  92826000
1  2014-01-03  10.000000  10.146000  9.906667   9.970667   9.970667  70425000
2  2014-01-06  10.000000  10.026667  9.682667   9.800000   9.800000  80416500
3  2014-01-07   9.841333  10.026667  9.683333   9.957333   9.957333  75511500
4  2014-01-08   9.923333  10.246667  9.917333  10.085333  10.085333  92448000

   ATR (7 Days)  RSI (7 Days)  RSI (14 Days)  EMA (50 Days)  EMA (100 Days)  \
0           0.0    100.000000     100.000000      10.006667       10.006667
1           0.0      0.000000       0.000000      10.005255       10.005954
2           0.0      0.000000       0.000000       9.997206       10.001876
3           0.0     47.666767      45.360406       9.995642       10.000994
4           0.0     63.968595      60.899779       9.999160       10.002664

   SMA (50 Days)  SMA (100 Days)  Log Return  Percent Return  \
0      10.006667       10.006667         NaN             NaN
1       9.988667        9.988667   -0.003604       -0.003598
2       9.925778        9.925778   -0.017265       -0.017117
3       9.933667        9.933667    0.015927        0.016054
4       9.964000        9.964000    0.012773        0.012855

   Cumulative Log Return  Cumulative Percent Return
0                    NaN                        NaN
1              -0.003604                  -0.003598
2              -0.020869                  -0.020715
3              -0.004942                  -0.004660
4               0.007831                   0.008195

In [9]:
apple.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume',
       'ATR (7 Days)', 'RSI (7 Days)', 'RSI (14 Days)', 'EMA (50 Days)',
       'EMA (100 Days)', 'SMA (50 Days)', 'SMA (100 Days)', 'Log Return',
       'Percent Return', 'Cumulative Log Return', 'Cumulative Percent Return'],
      dtype='object')

In [16]:
# Crear un diccionario con los nombres y DataFrames
dataframes_dict = {
    'apple': apple,
    'amazon': amazon,
    'google': google,
    'meta': meta,
    'microsoft': microsoft,
    'nvidia': nvidia,
    'tesla': tesla
}

# Convertir la columna de fechas a formato datetime para cada DataFrame
for name, df in dataframes_dict.items():
    df['Date'] = pd.to_datetime(df['Date'], errors='coerce')

# Verificar que la columna 'Date' se ha convertido correctamente
date_info = {name: df['Date'].dtype for name, df in dataframes_dict.items()}
date_samples = {name: df['Date'].head() for name, df in dataframes_dict.items()}

# Mostrar la información de los tipos de datos y algunas muestras de las fechas
date_info, date_samples

({'apple': dtype('<M8[ns]'),
  'amazon': dtype('<M8[ns]'),
  'google': dtype('<M8[ns]'),
  'meta': dtype('<M8[ns]'),
  'microsoft': dtype('<M8[ns]'),
  'nvidia': dtype('<M8[ns]'),
  'tesla': dtype('<M8[ns]')},
 {'apple': 0   2014-01-02
  1   2014-01-03
  2   2014-01-06
  3   2014-01-07
  4   2014-01-08
  Name: Date, dtype: datetime64[ns],
  'amazon': 0   2014-01-02
  1   2014-01-03
  2   2014-01-06
  3   2014-01-07
  4   2014-01-08
  Name: Date, dtype: datetime64[ns],
  'google': 0   2014-01-02
  1   2014-01-03
  2   2014-01-06
  3   2014-01-07
  4   2014-01-08
  Name: Date, dtype: datetime64[ns],
  'meta': 0   2014-01-02
  1   2014-01-03
  2   2014-01-06
  3   2014-01-07
  4   2014-01-08
  Name: Date, dtype: datetime64[ns],
  'microsoft': 0   2014-01-02
  1   2014-01-03
  2   2014-01-06
  3   2014-01-07
  4   2014-01-08
  Name: Date, dtype: datetime64[ns],
  'nvidia': 0   2014-01-02
  1   2014-01-03
  2   2014-01-06
  3   2014-01-07
  4   2014-01-08
  Name: Date, dtype: datetime64[ns],
  'tesla': 0   2014-01-02
  1   2014-01-03
  2   2014-01-06
  3   2014-01-07
  4   2014-01-08
  Name: Date, dtype: datetime64[ns]})

In [17]:
# Crear una nueva versión de cada DataFrame con solo las columnas seleccionadas: 'Date', 'Open', 'High', 'Low', 'Close'
filtered_dataframes = {name: df[['Date', 'Open', 'High', 'Low', 'Close']] for name, df in dataframes_dict.items()}

# Mostrar las primeras filas de cada DataFrame filtrado para confirmar
for name, df in filtered_dataframes.items():
    print(f"Primeras filas del dataset filtrado de {name}:")
    print(df.head(), "\n")

Primeras filas del dataset filtrado de apple:
        Date       Open       High        Low      Close
0 2014-01-02  19.845715  19.893929  19.715000  19.754642
1 2014-01-03  19.745001  19.775000  19.301071  19.320715
2 2014-01-06  19.194643  19.528570  19.057142  19.426071
3 2014-01-07  19.440001  19.498571  19.211430  19.287144
4 2014-01-08  19.243214  19.484285  19.238930  19.409286

Primeras filas del dataset filtrado de amazon:
        Date       Open     High        Low      Close
0 2014-01-02  19.940001  19.9680  19.701000  19.898500
1 2014-01-03  19.914499  20.1355  19.811001  19.822001
2 2014-01-06  19.792500  19.8500  19.421000  19.681499
3 2014-01-07  19.752001  19.9235  19.714500  19.901501
4 2014-01-08  19.923500  20.1500  19.802000  20.096001

Primeras filas del dataset filtrado de google:
        Date       Open       High        Low      Close
0 2014-01-02  27.914413  27.971722  27.734234  27.855856
1 2014-01-03  27.902903  27.951200  27.650902  27.652653
2 2014-01-06  27.853104  27.999498  27.688688  27.960960
3 2014-01-07  28.153152  28.520771  28.057056  28.500000
4 2014-01-08  28.678679  28.711712  28.360611  28.559309

Primeras filas del dataset filtrado de meta:
        Date       Open       High        Low      Close
0 2014-01-02  54.830002  55.220001  54.189999  54.709999
1 2014-01-03  55.020000  55.650002  54.529999  54.560001
2 2014-01-06  54.419998  57.259998  54.049999  57.200001
3 2014-01-07  57.700001  58.549999  57.220001  57.919998
4 2014-01-08  57.599998  58.410000  57.230000  58.230000

Primeras filas del dataset filtrado de microsoft:
        Date       Open       High        Low      Close
0 2014-01-02  37.349998  37.400002  37.099998  37.160000
1 2014-01-03  37.200001  37.220001  36.599998  36.910000
2 2014-01-06  36.849998  36.889999  36.110001  36.130001
3 2014-01-07  36.330002  36.490002  36.209999  36.410000
4 2014-01-08  36.000000  36.139999  35.580002  35.759998

Primeras filas del dataset filtrado de nvidia:
        Date    Open   High     Low   Close
0 2014-01-02  3.9800  3.995  3.9300  3.9650
1 2014-01-03  3.9725  3.980  3.9050  3.9175
2 2014-01-06  3.9575  4.000  3.9200  3.9700
3 2014-01-07  4.0100  4.050  3.9825  4.0350
4 2014-01-08  4.0500  4.110  4.0350  4.0900

Primeras filas del dataset filtrado de tesla:
        Date       Open       High       Low      Close
0 2014-01-02   9.986667  10.165333  9.770000  10.006667
1 2014-01-03  10.000000  10.146000  9.906667   9.970667
2 2014-01-06  10.000000  10.026667  9.682667   9.800000
3 2014-01-07   9.841333  10.026667  9.683333   9.957333
4 2014-01-08   9.923333  10.246667  9.917333  10.085333

In [21]:
# Crear y asignar nombres a las versiones filtradas de cada DataFrame
apple_filtered = filtered_dataframes['apple']
amazon_filtered = filtered_dataframes['amazon']
google_filtered = filtered_dataframes['google']
meta_filtered = filtered_dataframes['meta']
microsoft_filtered = filtered_dataframes['microsoft']
nvidia_filtered = filtered_dataframes['nvidia']
tesla_filtered = filtered_dataframes['tesla']

# Mostrar las primeras filas de cada DataFrame filtrado para confirmar los resultados
for name, df in zip(['apple_filtered', 'amazon_filtered', 'google_filtered', 'meta_filtered', 
                     'microsoft_filtered', 'nvidia_filtered', 'tesla_filtered'], 
                    [apple_filtered, amazon_filtered, google_filtered, meta_filtered, 
                     microsoft_filtered, nvidia_filtered, tesla_filtered]):
    print(f"Primeras filas del dataset {name}:")
    print(df.head(), "\n")

Primeras filas del dataset apple_filtered:
        Date       Open       High        Low      Close
0 2014-01-02  19.845715  19.893929  19.715000  19.754642
1 2014-01-03  19.745001  19.775000  19.301071  19.320715
2 2014-01-06  19.194643  19.528570  19.057142  19.426071
3 2014-01-07  19.440001  19.498571  19.211430  19.287144
4 2014-01-08  19.243214  19.484285  19.238930  19.409286

Primeras filas del dataset amazon_filtered:
        Date       Open     High        Low      Close
0 2014-01-02  19.940001  19.9680  19.701000  19.898500
1 2014-01-03  19.914499  20.1355  19.811001  19.822001
2 2014-01-06  19.792500  19.8500  19.421000  19.681499
3 2014-01-07  19.752001  19.9235  19.714500  19.901501
4 2014-01-08  19.923500  20.1500  19.802000  20.096001

Primeras filas del dataset google_filtered:
        Date       Open       High        Low      Close
0 2014-01-02  27.914413  27.971722  27.734234  27.855856
1 2014-01-03  27.902903  27.951200  27.650902  27.652653
2 2014-01-06  27.853104  27.999498  27.688688  27.960960
3 2014-01-07  28.153152  28.520771  28.057056  28.500000
4 2014-01-08  28.678679  28.711712  28.360611  28.559309

Primeras filas del dataset meta_filtered:
        Date       Open       High        Low      Close
0 2014-01-02  54.830002  55.220001  54.189999  54.709999
1 2014-01-03  55.020000  55.650002  54.529999  54.560001
2 2014-01-06  54.419998  57.259998  54.049999  57.200001
3 2014-01-07  57.700001  58.549999  57.220001  57.919998
4 2014-01-08  57.599998  58.410000  57.230000  58.230000

Primeras filas del dataset microsoft_filtered:
        Date       Open       High        Low      Close
0 2014-01-02  37.349998  37.400002  37.099998  37.160000
1 2014-01-03  37.200001  37.220001  36.599998  36.910000
2 2014-01-06  36.849998  36.889999  36.110001  36.130001
3 2014-01-07  36.330002  36.490002  36.209999  36.410000
4 2014-01-08  36.000000  36.139999  35.580002  35.759998

Primeras filas del dataset nvidia_filtered:
        Date    Open   High     Low   Close
0 2014-01-02  3.9800  3.995  3.9300  3.9650
1 2014-01-03  3.9725  3.980  3.9050  3.9175
2 2014-01-06  3.9575  4.000  3.9200  3.9700
3 2014-01-07  4.0100  4.050  3.9825  4.0350
4 2014-01-08  4.0500  4.110  4.0350  4.0900

Primeras filas del dataset tesla_filtered:
        Date       Open       High       Low      Close
0 2014-01-02   9.986667  10.165333  9.770000  10.006667
1 2014-01-03  10.000000  10.146000  9.906667   9.970667
2 2014-01-06  10.000000  10.026667  9.682667   9.800000
3 2014-01-07   9.841333  10.026667  9.683333   9.957333
4 2014-01-08   9.923333  10.246667  9.917333  10.085333

           Date        Open        High         Low       Close
0    2014-01-02   19.845715   19.893929   19.715000   19.754642
1    2014-01-03   19.745001   19.775000   19.301071   19.320715
2    2014-01-06   19.194643   19.528570   19.057142   19.426071
3    2014-01-07   19.440001   19.498571   19.211430   19.287144
4    2014-01-08   19.243214   19.484285   19.238930   19.409286
...         ...         ...         ...         ...         ...
2565 2024-03-13  172.770004  173.190002  170.759995  171.130005
2566 2024-03-14  172.910004  174.309998  172.050003  173.000000
2567 2024-03-15  171.169998  172.619995  170.289993  172.619995
2568 2024-03-18  175.570007  177.710007  173.520004  173.720001
2569 2024-03-19  174.339996  176.610001  173.029999  176.080002

[2570 rows x 5 columns]

In [23]:
# Crear versiones resumidas por mes para cada DataFrame filtrado
apple_monthly = apple_filtered.resample('M', on='Date').mean()
amazon_monthly = amazon_filtered.resample('M', on='Date').mean()
google_monthly = google_filtered.resample('M', on='Date').mean()
meta_monthly = meta_filtered.resample('M', on='Date').mean()
microsoft_monthly = microsoft_filtered.resample('M', on='Date').mean()
nvidia_monthly = nvidia_filtered.resample('M', on='Date').mean()
tesla_monthly = tesla_filtered.resample('M', on='Date').mean()

# Mostrar las primeras filas de cada DataFrame resumido para confirmar los resultados
for name, df in zip(['apple_monthly', 'amazon_monthly', 'google_monthly', 'meta_monthly', 
                     'microsoft_monthly', 'nvidia_monthly', 'tesla_monthly'], 
                    [apple_monthly, amazon_monthly, google_monthly, meta_monthly, 
                     microsoft_monthly, nvidia_monthly, tesla_monthly]):
    print(f"Primeras filas del dataset {name}:")
    print(df.head(), "\n")

Primeras filas del dataset apple_monthly:
                 Open       High        Low      Close
Date
2014-01-31  19.217891  19.387313  19.038061  19.194490
2014-02-28  18.775752  18.956203  18.647368  18.806429
2014-03-31  19.056905  19.159065  18.931105  19.043367
2014-04-30  19.288639  19.441037  19.152228  19.324082
2014-05-31  21.475068  21.656173  21.369031  21.542704

Primeras filas del dataset amazon_monthly:
                 Open       High        Low      Close
Date
2014-01-31  19.798643  19.993595  19.527477  19.743167
2014-02-28  17.718158  17.905000  17.460026  17.716842
2014-03-31  18.250476  18.395500  17.958500  18.131524
2014-04-30  16.156619  16.336119  15.787190  16.082071
2014-05-31  15.123714  15.308833  14.939762  15.147691

Primeras filas del dataset google_monthly:
                 Open       High        Low      Close
Date
2014-01-31  28.517553  28.667096  28.195672  28.437807
2014-02-28  29.764435  29.970655  29.573376  29.784192
2014-03-31  29.775144  29.919813  29.417346  29.590722
2014-04-30  27.468779  27.723125  26.953600  27.328003
2014-05-31  27.101024  27.328833  26.859643  27.149024

Primeras filas del dataset meta_monthly:
                 Open       High        Low      Close
Date
2014-01-31  56.960952  57.848571  55.997143  56.928095
2014-02-28  66.121053  67.216842  65.234211  66.370526
2014-03-31  67.727619  68.415238  66.125715  67.093333
2014-04-30  59.970000  61.036190  58.259048  59.606667
2014-05-31  60.003333  60.990952  59.203810  60.087143

Primeras filas del dataset microsoft_monthly:
                 Open       High        Low      Close
Date
2014-01-31  36.427619  36.689048  35.942857  36.350476
2014-02-28  37.230000  37.550526  36.963158  37.241579
2014-03-31  38.931429  39.363810  38.593333  38.985238
2014-04-30  40.213333  40.526667  39.793333  40.134285
2014-05-31  39.901429  40.131428  39.587619  39.920000

Primeras filas del dataset nvidia_monthly:
                Open      High       Low     Close
Date
2014-01-31  3.957619  3.995000  3.917381  3.954881
2014-02-28  4.295658  4.365658  4.260000  4.328816
2014-03-31  4.563690  4.617976  4.509405  4.555357
2014-04-30  4.658333  4.716667  4.602262  4.651905
2014-05-31  4.602381  4.655833  4.561429  4.609524

Primeras filas del dataset tesla_monthly:
                 Open       High        Low      Close
Date
2014-01-31  10.849492  11.161492  10.626413  10.936794
2014-02-28  13.749333  14.084947  13.432596  13.734877
2014-03-31  15.721588  15.937365  15.284032  15.543111
2014-04-30  13.882762  14.220857  13.463143  13.885841
2014-05-31  13.260000  13.559048  13.049746  13.311619

/var/folders/5d/ff5tbbfn6yv14yz1_sjhzwpw0000gn/T/ipykernel_11704/1505352151.py:2: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  apple_monthly = apple_filtered.resample('M', on='Date').mean()
/var/folders/5d/ff5tbbfn6yv14yz1_sjhzwpw0000gn/T/ipykernel_11704/1505352151.py:3: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  amazon_monthly = amazon_filtered.resample('M', on='Date').mean()
/var/folders/5d/ff5tbbfn6yv14yz1_sjhzwpw0000gn/T/ipykernel_11704/1505352151.py:4: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  google_monthly = google_filtered.resample('M', on='Date').mean()
/var/folders/5d/ff5tbbfn6yv14yz1_sjhzwpw0000gn/T/ipykernel_11704/1505352151.py:5: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  meta_monthly = meta_filtered.resample('M', on='Date').mean()
/var/folders/5d/ff5tbbfn6yv14yz1_sjhzwpw0000gn/T/ipykernel_11704/1505352151.py:6: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  microsoft_monthly = microsoft_filtered.resample('M', on='Date').mean()
/var/folders/5d/ff5tbbfn6yv14yz1_sjhzwpw0000gn/T/ipykernel_11704/1505352151.py:7: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  nvidia_monthly = nvidia_filtered.resample('M', on='Date').mean()
/var/folders/5d/ff5tbbfn6yv14yz1_sjhzwpw0000gn/T/ipykernel_11704/1505352151.py:8: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  tesla_monthly = tesla_filtered.resample('M', on='Date').mean()

In [25]:
# Crear versiones resumidas por año para cada DataFrame filtrado
apple_annual = apple_filtered.resample('Y', on='Date').mean()
amazon_annual = amazon_filtered.resample('Y', on='Date').mean()
google_annual = google_filtered.resample('Y', on='Date').mean()
meta_annual = meta_filtered.resample('Y', on='Date').mean()
microsoft_annual = microsoft_filtered.resample('Y', on='Date').mean()
nvidia_annual = nvidia_filtered.resample('Y', on='Date').mean()
tesla_annual = tesla_filtered.resample('Y', on='Date').mean()

# Mostrar las primeras filas de cada DataFrame resumido para confirmar los resultados
for name, df in zip(['apple_annual', 'amazon_annual', 'google_annual', 'meta_annual', 
                     'microsoft_annual', 'nvidia_annual', 'tesla_annual'], 
                    [apple_annual, amazon_annual, google_annual, meta_annual, 
                     microsoft_annual, nvidia_annual, tesla_annual]):
    print(f"Primeras filas del dataset {name}:")
    print(df.head(), "\n")

Primeras filas del dataset apple_annual:
                 Open       High        Low      Close
Date
2014-12-31  23.054958  23.253166  22.868885  23.066164
2015-12-31  30.043938  30.311131  29.715774  30.010000
2016-12-31  26.126944  26.356796  25.922569  26.151002
2017-12-31  37.611225  37.851514  37.371912  37.637769
2018-12-31  47.277859  47.748526  46.795877  47.263357

Primeras filas del dataset amazon_annual:
                 Open       High        Low      Close
Date
2014-12-31  16.639923  16.815877  16.427272  16.627552
2015-12-31  23.906248  24.159812  23.644107  23.906915
2016-12-31  34.987829  35.290248  34.632312  34.976157
2017-12-31  48.413781  48.725938  48.036703  48.408351
2018-12-31  82.203635  83.141992  80.992026  82.086309

Primeras filas del dataset google_annual:
                 Open       High        Low      Close
Date
2014-12-31  28.447983  28.642102  28.167981  28.406118
2015-12-31  31.002240  31.284679  30.697911  30.999411
2016-12-31  38.182593  38.470440  37.848135  38.160661
2017-12-31  46.972731  47.260867  46.660880  46.988653
2018-12-31  56.128221  56.748173  55.467269  56.102179

Primeras filas del dataset meta_annual:
                  Open        High         Low       Close
Date
2014-12-31   68.763968   69.639524   67.830199   68.762341
2015-12-31   88.749405   89.683373   87.762778   88.772857
2016-12-31  117.081071  118.091706  115.865873  117.035873
2017-12-31  156.481076  157.557530  155.347012  156.576175
2018-12-31  171.472948  173.613347  169.303148  171.510956

Primeras filas del dataset microsoft_annual:
                  Open        High        Low       Close
Date
2014-12-31   42.437540   42.771706  42.083492   42.453492
2015-12-31   46.658571   47.137778  46.250675   46.714286
2016-12-31   55.230516   55.677460  54.782381   55.259325
2017-12-31   71.954303   72.376215  71.498127   71.984024
2018-12-31  101.122351  102.114064  99.919283  101.033984

Primeras filas del dataset nvidia_annual:
                 Open       High        Low      Close
Date
2014-12-31   4.635764   4.686369   4.587054   4.636766
2015-12-31   5.920149   5.994881   5.852768   5.929563
2016-12-31  13.407708  13.603849  13.223780  13.440298
2017-12-31  37.463566  37.933556  36.869980  37.445926
2018-12-31  58.182002  59.091644  57.129831  58.096036

Primeras filas del dataset tesla_annual:
                 Open       High        Low      Close
Date
2014-12-31  14.894360  15.163325  14.613741  14.888606
2015-12-31  15.322130  15.558778  15.084709  15.336193
2016-12-31  14.003897  14.228899  13.752410  13.984484
2017-12-31  20.953081  21.230040  20.645798  20.954420
2018-12-31  21.145564  21.579575  20.703487  21.153995

/var/folders/5d/ff5tbbfn6yv14yz1_sjhzwpw0000gn/T/ipykernel_11704/3611632669.py:2: FutureWarning: 'Y' is deprecated and will be removed in a future version, please use 'YE' instead.
  apple_annual = apple_filtered.resample('Y', on='Date').mean()
/var/folders/5d/ff5tbbfn6yv14yz1_sjhzwpw0000gn/T/ipykernel_11704/3611632669.py:3: FutureWarning: 'Y' is deprecated and will be removed in a future version, please use 'YE' instead.
  amazon_annual = amazon_filtered.resample('Y', on='Date').mean()
/var/folders/5d/ff5tbbfn6yv14yz1_sjhzwpw0000gn/T/ipykernel_11704/3611632669.py:4: FutureWarning: 'Y' is deprecated and will be removed in a future version, please use 'YE' instead.
  google_annual = google_filtered.resample('Y', on='Date').mean()
/var/folders/5d/ff5tbbfn6yv14yz1_sjhzwpw0000gn/T/ipykernel_11704/3611632669.py:5: FutureWarning: 'Y' is deprecated and will be removed in a future version, please use 'YE' instead.
  meta_annual = meta_filtered.resample('Y', on='Date').mean()
/var/folders/5d/ff5tbbfn6yv14yz1_sjhzwpw0000gn/T/ipykernel_11704/3611632669.py:6: FutureWarning: 'Y' is deprecated and will be removed in a future version, please use 'YE' instead.
  microsoft_annual = microsoft_filtered.resample('Y', on='Date').mean()
/var/folders/5d/ff5tbbfn6yv14yz1_sjhzwpw0000gn/T/ipykernel_11704/3611632669.py:7: FutureWarning: 'Y' is deprecated and will be removed in a future version, please use 'YE' instead.
  nvidia_annual = nvidia_filtered.resample('Y', on='Date').mean()
/var/folders/5d/ff5tbbfn6yv14yz1_sjhzwpw0000gn/T/ipykernel_11704/3611632669.py:8: FutureWarning: 'Y' is deprecated and will be removed in a future version, please use 'YE' instead.
  tesla_annual = tesla_filtered.resample('Y', on='Date').mean()

In [28]:
apple_annual

                  Open        High         Low       Close
Date
2014-12-31   23.054958   23.253166   22.868885   23.066164
2015-12-31   30.043938   30.311131   29.715774   30.010000
2016-12-31   26.126944   26.356796   25.922569   26.151002
2017-12-31   37.611225   37.851514   37.371912   37.637769
2018-12-31   47.277859   47.748526   46.795877   47.263357
2019-12-31   51.967272   52.457927   51.567907   52.063988
2020-12-31   95.267668   96.661769   93.912796   95.347075
2021-12-31  140.861866  142.347818  139.474087  140.989365
2022-12-31  154.802709  156.907809  152.691315  154.835060
2023-12-31  172.256681  173.857520  170.981880  172.549000
2024-12-31  182.989259  184.404259  181.450370  183.036666

In [29]:
# Crear versiones resumidas por año para cada DataFrame filtrado usando el máximo y mínimo para las columnas 'High' y 'Low'
apple_annual = filtered_dataframes['apple'].resample('Y', on='Date').agg({'Open': 'mean', 'High': 'max', 'Low': 'min', 'Close': 'mean'})
amazon_annual = filtered_dataframes['amazon'].resample('Y', on='Date').agg({'Open': 'mean', 'High': 'max', 'Low': 'min', 'Close': 'mean'})
google_annual = filtered_dataframes['google'].resample('Y', on='Date').agg({'Open': 'mean', 'High': 'max', 'Low': 'min', 'Close': 'mean'})
meta_annual = filtered_dataframes['meta'].resample('Y', on='Date').agg({'Open': 'mean', 'High': 'max', 'Low': 'min', 'Close': 'mean'})
microsoft_annual = filtered_dataframes['microsoft'].resample('Y', on='Date').agg({'Open': 'mean', 'High': 'max', 'Low': 'min', 'Close': 'mean'})
nvidia_annual = filtered_dataframes['nvidia'].resample('Y', on='Date').agg({'Open': 'mean', 'High': 'max', 'Low': 'min', 'Close': 'mean'})
tesla_annual = filtered_dataframes['tesla'].resample('Y', on='Date').agg({'Open': 'mean', 'High': 'max', 'Low': 'min', 'Close': 'mean'})

# Mostrar las primeras filas de cada DataFrame anual ajustado para confirmar los resultados
for name, df in zip(['apple_annual', 'amazon_annual', 'google_annual', 'meta_annual', 
                     'microsoft_annual', 'nvidia_annual', 'tesla_annual'], 
                    [apple_annual, amazon_annual, google_annual, meta_annual, 
                     microsoft_annual, nvidia_annual, tesla_annual]):
    print(f"Primeras filas del dataset ajustado de {name}:")
    print(df.head(), "\n")

Primeras filas del dataset ajustado de apple_annual:
                 Open       High        Low      Close
Date
2014-12-31  23.054958  29.937500  17.626785  23.066164
2015-12-31  30.043938  33.634998  23.000000  30.010000
2016-12-31  26.126944  29.672501  22.367500  26.151002
2017-12-31  37.611225  44.299999  28.690001  37.637769
2018-12-31  47.277859  58.367500  36.647499  47.263357

Primeras filas del dataset ajustado de amazon_annual:
                 Open        High        Low      Close
Date
2014-12-31  16.639923   20.403000  14.200000  16.627552
2015-12-31  23.906248   34.821999  14.262500  23.906915
2016-12-31  34.987829   42.360500  23.700001  34.976157
2017-12-31  48.413781   60.670502  37.384998  48.408351
2018-12-31  82.203635  102.525002  58.525501  82.086309

Primeras filas del dataset ajustado de google_annual:
                 Open       High        Low      Close
Date
2014-12-31  28.447983  30.752752  24.859501  28.406118
2015-12-31  31.002240  39.934502  24.545500  30.999411
2016-12-31  38.182593  41.950001  33.632999  38.160661
2017-12-31  46.972731  54.324501  39.844501  46.988653
2018-12-31  56.128221  64.571999  48.882999  56.102179

Primeras filas del dataset ajustado de meta_annual:
                  Open        High         Low       Close
Date
2014-12-31   68.763968   82.169998   51.849998   68.762341
2015-12-31   88.749405  110.650002   72.000000   88.772857
2016-12-31  117.081071  133.500000   89.370003  117.035873
2017-12-31  156.481076  184.250000  115.510002  156.576175
2018-12-31  171.472948  218.619995  123.019997  171.510956

Primeras filas del dataset ajustado de microsoft_annual:
                  Open        High        Low       Close
Date
2014-12-31   42.437540   50.049999  34.630001   42.453492
2015-12-31   46.658571   56.849998  39.720001   46.714286
2016-12-31   55.230516   64.099998  48.040001   55.259325
2017-12-31   71.954303   87.500000  61.950001   71.984024
2018-12-31  101.122351  116.180000  83.830002  101.033984

Primeras filas del dataset ajustado de nvidia_annual:
                 Open       High      Low      Close
Date
2014-12-31   4.635764   5.312500   3.8300   4.636766
2015-12-31   5.920149   8.485000   4.7350   5.929563
2016-12-31  13.407708  29.982500   6.1875  13.440298
2017-12-31  37.463566  54.667500  23.7925  37.445926
2018-12-31  58.182002  73.190002  31.1150  58.096036

Primeras filas del dataset ajustado de tesla_annual:
                 Open       High        Low      Close
Date
2014-12-31  14.894360  19.427999   9.111333  14.888606
2015-12-31  15.322130  19.110001  12.093333  15.336193
2016-12-31  14.003897  17.955999   9.403333  13.984484
2017-12-31  20.953081  25.974001  14.064000  20.954420
2018-12-31  21.145564  25.830667  16.306000  21.153995

/var/folders/5d/ff5tbbfn6yv14yz1_sjhzwpw0000gn/T/ipykernel_11704/312072145.py:2: FutureWarning: 'Y' is deprecated and will be removed in a future version, please use 'YE' instead.
  apple_annual = filtered_dataframes['apple'].resample('Y', on='Date').agg({'Open': 'mean', 'High': 'max', 'Low': 'min', 'Close': 'mean'})
/var/folders/5d/ff5tbbfn6yv14yz1_sjhzwpw0000gn/T/ipykernel_11704/312072145.py:3: FutureWarning: 'Y' is deprecated and will be removed in a future version, please use 'YE' instead.
  amazon_annual = filtered_dataframes['amazon'].resample('Y', on='Date').agg({'Open': 'mean', 'High': 'max', 'Low': 'min', 'Close': 'mean'})
/var/folders/5d/ff5tbbfn6yv14yz1_sjhzwpw0000gn/T/ipykernel_11704/312072145.py:4: FutureWarning: 'Y' is deprecated and will be removed in a future version, please use 'YE' instead.
  google_annual = filtered_dataframes['google'].resample('Y', on='Date').agg({'Open': 'mean', 'High': 'max', 'Low': 'min', 'Close': 'mean'})
/var/folders/5d/ff5tbbfn6yv14yz1_sjhzwpw0000gn/T/ipykernel_11704/312072145.py:5: FutureWarning: 'Y' is deprecated and will be removed in a future version, please use 'YE' instead.
  meta_annual = filtered_dataframes['meta'].resample('Y', on='Date').agg({'Open': 'mean', 'High': 'max', 'Low': 'min', 'Close': 'mean'})
/var/folders/5d/ff5tbbfn6yv14yz1_sjhzwpw0000gn/T/ipykernel_11704/312072145.py:6: FutureWarning: 'Y' is deprecated and will be removed in a future version, please use 'YE' instead.
  microsoft_annual = filtered_dataframes['microsoft'].resample('Y', on='Date').agg({'Open': 'mean', 'High': 'max', 'Low': 'min', 'Close': 'mean'})
/var/folders/5d/ff5tbbfn6yv14yz1_sjhzwpw0000gn/T/ipykernel_11704/312072145.py:7: FutureWarning: 'Y' is deprecated and will be removed in a future version, please use 'YE' instead.
  nvidia_annual = filtered_dataframes['nvidia'].resample('Y', on='Date').agg({'Open': 'mean', 'High': 'max', 'Low': 'min', 'Close': 'mean'})
/var/folders/5d/ff5tbbfn6yv14yz1_sjhzwpw0000gn/T/ipykernel_11704/312072145.py:8: FutureWarning: 'Y' is deprecated and will be removed in a future version, please use 'YE' instead.
  tesla_annual = filtered_dataframes['tesla'].resample('Y', on='Date').agg({'Open': 'mean', 'High': 'max', 'Low': 'min', 'Close': 'mean'})

In [30]:
apple_annual

                  Open        High         Low       Close
Date
2014-12-31   23.054958   29.937500   17.626785   23.066164
2015-12-31   30.043938   33.634998   23.000000   30.010000
2016-12-31   26.126944   29.672501   22.367500   26.151002
2017-12-31   37.611225   44.299999   28.690001   37.637769
2018-12-31   47.277859   58.367500   36.647499   47.263357
2019-12-31   51.967272   73.492500   35.500000   52.063988
2020-12-31   95.267668  138.789993   53.152500   95.347075
2021-12-31  140.861866  182.130005  116.209999  140.989365
2022-12-31  154.802709  182.940002  125.870003  154.835060
2023-12-31  172.256681  199.619995  124.169998  172.549000
2024-12-31  182.989259  196.380005  168.490005  183.036666

In [32]:
# Renombrar las columnas de cada DataFrame anual para identificar la compañía
apple_annual = apple_annual.add_suffix('_AAPL')
amazon_annual = amazon_annual.add_suffix('_AMZN')
google_annual = google_annual.add_suffix('_GOOGL')
meta_annual = meta_annual.add_suffix('_META')
microsoft_annual = microsoft_annual.add_suffix('_MSFT')
nvidia_annual = nvidia_annual.add_suffix('_NVDA')
tesla_annual = tesla_annual.add_suffix('_TSLA')

# Realizar el merge de los DataFrames anuales uno por uno utilizando la fecha como índice
merged_annual = apple_annual.join(amazon_annual, how='outer')
merged_annual = merged_annual.join(google_annual, how='outer')
merged_annual = merged_annual.join(meta_annual, how='outer')
merged_annual = merged_annual.join(microsoft_annual, how='outer')
merged_annual = merged_annual.join(nvidia_annual, how='outer')
merged_annual = merged_annual.join(tesla_annual, how='outer')

# Mostrar las primeras filas del DataFrame combinado
print(merged_annual.head())

            Open_AAPL  High_AAPL   Low_AAPL  Close_AAPL  Open_AMZN  \
Date
2014-12-31  23.054958  29.937500  17.626785   23.066164  16.639923
2015-12-31  30.043938  33.634998  23.000000   30.010000  23.906248
2016-12-31  26.126944  29.672501  22.367500   26.151002  34.987829
2017-12-31  37.611225  44.299999  28.690001   37.637769  48.413781
2018-12-31  47.277859  58.367500  36.647499   47.263357  82.203635

             High_AMZN   Low_AMZN  Close_AMZN  Open_GOOGL  High_GOOGL  ...  \
Date                                                                   ...
2014-12-31   20.403000  14.200000   16.627552   28.447983   30.752752  ...
2015-12-31   34.821999  14.262500   23.906915   31.002240   39.934502  ...
2016-12-31   42.360500  23.700001   34.976157   38.182593   41.950001  ...
2017-12-31   60.670502  37.384998   48.408351   46.972731   54.324501  ...
2018-12-31  102.525002  58.525501   82.086309   56.128221   64.571999  ...

             Low_MSFT  Close_MSFT  Open_NVDA  High_NVDA  Low_NVDA  Close_NVDA  \
Date
2014-12-31  34.630001   42.453492   4.635764   5.312500    3.8300    4.636766
2015-12-31  39.720001   46.714286   5.920149   8.485000    4.7350    5.929563
2016-12-31  48.040001   55.259325  13.407708  29.982500    6.1875   13.440298
2017-12-31  61.950001   71.984024  37.463566  54.667500   23.7925   37.445926
2018-12-31  83.830002  101.033984  58.182002  73.190002   31.1150   58.096036

            Open_TSLA  High_TSLA   Low_TSLA  Close_TSLA
Date
2014-12-31  14.894360  19.427999   9.111333   14.888606
2015-12-31  15.322130  19.110001  12.093333   15.336193
2016-12-31  14.003897  17.955999   9.403333   13.984484
2017-12-31  20.953081  25.974001  14.064000   20.954420
2018-12-31  21.145564  25.830667  16.306000   21.153995

[5 rows x 28 columns]

In [35]:
merged_annual.head(11)

,Open_AAPL,High_AAPL,Low_AAPL,Close_AAPL,Open_AMZN,High_AMZN,Low_AMZN,Close_AMZN,Open_GOOGL,High_GOOGL,...,Low_MSFT,Close_MSFT,Open_NVDA,High_NVDA,Low_NVDA,Close_NVDA,Open_TSLA,High_TSLA,Low_TSLA,Close_TSLA
Date,,,,,,,,,,,,,,,,,,,,,
2014-12-31,23.054958,29.937500,17.626785,23.066164,16.639923,20.403000,14.200000,16.627552,28.447983,30.752752,...,34.630001,42.453492,4.635764,5.312500,3.830000,4.636766,14.894360,19.427999,9.111333,14.888606
2015-12-31,30.043938,33.634998,23.000000,30.010000,23.906248,34.821999,14.262500,23.906915,31.002240,39.934502,...,39.720001,46.714286,5.920149,8.485000,4.735000,5.929563,15.322130,19.110001,12.093333,15.336193
2016-12-31,26.126944,29.672501,22.367500,26.151002,34.987829,42.360500,23.700001,34.976157,38.182593,41.950001,...,48.040001,55.259325,13.407708,29.982500,6.187500,13.440298,14.003897,17.955999,9.403333,13.984484
2017-12-31,37.611225,44.299999,28.690001,37.637769,48.413781,60.670502,37.384998,48.408351,46.972731,54.324501,...,61.950001,71.984024,37.463566,54.667500,23.792500,37.445926,20.953081,25.974001,14.064000,20.954420
2018-12-31,47.277859,58.367500,36.647499,47.263357,82.203635,102.525002,58.525501,82.086309,56.128221,64.571999,...,83.830002,101.033984,58.182002,73.190002,31.115000,58.096036,21.145564,25.830667,16.306000,21.153995
2019-12-31,51.967272,73.492500,35.500000,52.063988,89.437310,101.790001,73.046501,89.459460,59.508885,68.352501,...,97.199997,130.382024,43.610050,60.452499,31.922501,43.646924,18.201876,29.020666,11.799333,18.235347
2020-12-31,95.267668,138.789993,53.152500,95.347075,134.050210,177.612503,81.301498,134.042755,73.883475,92.191498,...,132.520004,193.026126,98.879723,147.267502,45.169998,98.907085,96.369476,239.573334,23.367332,96.665689
2021-12-31,140.861866,182.130005,116.209999,140.989365,167.286329,188.654007,144.050003,167.193349,124.145545,150.966507,...,211.940002,275.940754,195.163174,346.470001,115.665001,195.219931,259.946429,414.496674,179.830002,259.998162
2022-12-31,154.802709,182.940002,125.870003,154.835060,126.318080,171.399994,81.690002,126.098819,114.879681,151.546494,...,213.429993,268.917091,185.791952,307.109985,108.129997,185.689562,264.135232,402.666656,108.239998,263.093081
2023-12-31,172.256681,199.619995,124.169998,172.549000,121.208320,155.630005,81.430000,121.372800,118.548200,142.679993,...,219.350006,313.951001,365.151680,505.480011,140.339996,365.692600,217.075040,299.290009,101.809998,217.475240
2024-12-31,182.989259,196.380005,168.490005,183.036666,165.062037,180.139999,144.050003,165.352777,142.030926,153.779999,...,366.500000,402.298518,697.029628,974.000000,473.200012,699.451480,198.500741,251.250000,160.509995,198.011667

In [45]:
# Crear una tabla adicional que solo muestre las columnas 'High' y 'Low' para cada compañía utilizando los nombres correctos
high_low_annual = pd.DataFrame({
    'apple_high': apple_annual['High_AAPL'],
    'apple_low': apple_annual['Low_AAPL'],
    'amazon_high': amazon_annual['High_AMZN'],
    'amazon_low': amazon_annual['Low_AMZN'],
    'google_high': google_annual['High_GOOGL'],
    'google_low': google_annual['Low_GOOGL'],
    'meta_high': meta_annual['High_META'],
    'meta_low': meta_annual['Low_META'],
    'microsoft_high': microsoft_annual['High_MSFT'],
    'microsoft_low': microsoft_annual['Low_MSFT'],
    'nvidia_high': nvidia_annual['High_NVDA'],
    'nvidia_low': nvidia_annual['Low_NVDA'],
    'tesla_high': tesla_annual['High_TSLA'],
    'tesla_low': tesla_annual['Low_TSLA']
})

# Mostrar la tabla adicional con 'High' y 'Low' de cada compañía
print(high_low_annual.head())

            apple_high  apple_low  amazon_high  amazon_low  google_high  \
Date
2014-12-31   29.937500  17.626785    20.403000   14.200000    30.752752
2015-12-31   33.634998  23.000000    34.821999   14.262500    39.934502
2016-12-31   29.672501  22.367500    42.360500   23.700001    41.950001
2017-12-31   44.299999  28.690001    60.670502   37.384998    54.324501
2018-12-31   58.367500  36.647499   102.525002   58.525501    64.571999

            google_low   meta_high    meta_low  microsoft_high  microsoft_low  \
Date
2014-12-31   24.859501   82.169998   51.849998       50.049999      34.630001
2015-12-31   24.545500  110.650002   72.000000       56.849998      39.720001
2016-12-31   33.632999  133.500000   89.370003       64.099998      48.040001
2017-12-31   39.844501  184.250000  115.510002       87.500000      61.950001
2018-12-31   48.882999  218.619995  123.019997      116.180000      83.830002

            nvidia_high  nvidia_low  tesla_high  tesla_low
Date
2014-12-31     5.312500      3.8300   19.427999   9.111333
2015-12-31     8.485000      4.7350   19.110001  12.093333
2016-12-31    29.982500      6.1875   17.955999   9.403333
2017-12-31    54.667500     23.7925   25.974001  14.064000
2018-12-31    73.190002     31.1150   25.830667  16.306000

In [48]:
high_low_annual.head(11)

,apple_high,apple_low,amazon_high,amazon_low,google_high,google_low,meta_high,meta_low,microsoft_high,microsoft_low,nvidia_high,nvidia_low,tesla_high,tesla_low
Date,,,,,,,,,,,,,,
2014-12-31,29.937500,17.626785,20.403000,14.200000,30.752752,24.859501,82.169998,51.849998,50.049999,34.630001,5.312500,3.830000,19.427999,9.111333
2015-12-31,33.634998,23.000000,34.821999,14.262500,39.934502,24.545500,110.650002,72.000000,56.849998,39.720001,8.485000,4.735000,19.110001,12.093333
2016-12-31,29.672501,22.367500,42.360500,23.700001,41.950001,33.632999,133.500000,89.370003,64.099998,48.040001,29.982500,6.187500,17.955999,9.403333
2017-12-31,44.299999,28.690001,60.670502,37.384998,54.324501,39.844501,184.250000,115.510002,87.500000,61.950001,54.667500,23.792500,25.974001,14.064000
2018-12-31,58.367500,36.647499,102.525002,58.525501,64.571999,48.882999,218.619995,123.019997,116.180000,83.830002,73.190002,31.115000,25.830667,16.306000
2019-12-31,73.492500,35.500000,101.790001,73.046501,68.352501,51.118500,208.929993,128.559998,159.550003,97.199997,60.452499,31.922501,29.020666,11.799333
2020-12-31,138.789993,53.152500,177.612503,81.301498,92.191498,50.443501,304.670013,137.100006,232.860001,132.520004,147.267502,45.169998,239.573334,23.367332
2021-12-31,182.130005,116.209999,188.654007,144.050003,150.966507,84.805000,384.329987,244.610001,349.670013,211.940002,346.470001,115.665001,414.496674,179.830002
2022-12-31,182.940002,125.870003,171.399994,81.690002,151.546494,83.339996,343.089996,88.089996,338.000000,213.429993,307.109985,108.129997,402.666656,108.239998
2023-12-31,199.619995,124.169998,155.630005,81.430000,142.679993,84.860001,361.899994,122.279999,384.299988,219.350006,505.480011,140.339996,299.290009,101.809998
2024-12-31,196.380005,168.490005,180.139999,144.050003,153.779999,130.669998,523.570007,340.010010,427.820007,366.500000,974.000000,473.200012,251.250000,160.509995

In [50]:
# Crear una nueva columna que calcule el porcentaje entre High y Low para cada compañía por año
high_low_annual['apple_percent_change'] = ((high_low_annual['apple_high'] - high_low_annual['apple_low']) / high_low_annual['apple_low']) * 100
high_low_annual['amazon_percent_change'] = ((high_low_annual['amazon_high'] - high_low_annual['amazon_low']) / high_low_annual['amazon_low']) * 100
high_low_annual['google_percent_change'] = ((high_low_annual['google_high'] - high_low_annual['google_low']) / high_low_annual['google_low']) * 100
high_low_annual['meta_percent_change'] = ((high_low_annual['meta_high'] - high_low_annual['meta_low']) / high_low_annual['meta_low']) * 100
high_low_annual['microsoft_percent_change'] = ((high_low_annual['microsoft_high'] - high_low_annual['microsoft_low']) / high_low_annual['microsoft_low']) * 100
high_low_annual['nvidia_percent_change'] = ((high_low_annual['nvidia_high'] - high_low_annual['nvidia_low']) / high_low_annual['nvidia_low']) * 100
high_low_annual['tesla_percent_change'] = ((high_low_annual['tesla_high'] - high_low_annual['tesla_low']) / high_low_annual['tesla_low']) * 100

In [51]:
high_low_annual

,apple_high,apple_low,amazon_high,amazon_low,google_high,google_low,meta_high,meta_low,microsoft_high,microsoft_low,...,nvidia_low,tesla_high,tesla_low,apple_percent_change,amazon_percent_change,google_percent_change,meta_percent_change,microsoft_percent_change,nvidia_percent_change,tesla_percent_change
Date,,,,,,,,,,,,,,,,,,,,,
2014-12-31,29.937500,17.626785,20.403000,14.200000,30.752752,24.859501,82.169998,51.849998,50.049999,34.630001,...,3.830000,19.427999,9.111333,69.840952,43.683100,23.706234,58.476375,44.527859,38.707575,113.228950
2015-12-31,33.634998,23.000000,34.821999,14.262500,39.934502,24.545500,110.650002,72.000000,56.849998,39.720001,...,4.735000,19.110001,12.093333,46.239123,144.150738,62.695818,53.680558,43.126880,79.197453,58.020954
2016-12-31,29.672501,22.367500,42.360500,23.700001,41.950001,33.632999,133.500000,89.370003,64.099998,48.040001,...,6.187500,17.955999,9.403333,32.658993,78.736283,24.728694,49.378982,33.430469,384.565658,90.953569
2017-12-31,44.299999,28.690001,60.670502,37.384998,54.324501,39.844501,184.250000,115.510002,87.500000,61.950001,...,23.792500,25.974001,14.064000,54.409196,62.285688,36.341274,59.509996,41.242936,129.767786,84.684305
2018-12-31,58.367500,36.647499,102.525002,58.525501,64.571999,48.882999,218.619995,123.019997,116.180000,83.830002,...,31.115000,25.830667,16.306000,59.267349,75.180049,32.095001,77.710942,38.590001,135.224178,58.412044
2019-12-31,73.492500,35.500000,101.790001,73.046501,68.352501,51.118500,208.929993,128.559998,159.550003,97.199997,...,31.922501,29.020666,11.799333,107.021128,39.349591,33.713824,62.515554,64.146099,89.372694,145.951759
2020-12-31,138.789993,53.152500,177.612503,81.301498,92.191498,50.443501,304.670013,137.100006,232.860001,132.520004,...,45.169998,239.573334,23.367332,161.116585,118.461537,82.761896,122.224653,75.716868,226.029462,925.248963
2021-12-31,182.130005,116.209999,188.654007,144.050003,150.966507,84.805000,384.329987,244.610001,349.670013,211.940002,...,115.665001,414.496674,179.830002,56.724900,30.964251,78.016044,57.119490,64.985378,199.546102,130.493616
2022-12-31,182.940002,125.870003,171.399994,81.690002,151.546494,83.339996,343.089996,88.089996,338.000000,213.429993,...,108.129997,402.666656,108.239998,45.340429,109.817589,81.841253,289.476684,58.365746,184.019230,272.012809
2023-12-31,199.619995,124.169998,155.630005,81.430000,142.679993,84.860001,361.899994,122.279999,384.299988,219.350006,...,140.339996,299.290009,101.809998,60.763468,91.121214,68.135743,195.960090,75.199442,260.182431,193.969174
2024-12-31,196.380005,168.490005,180.139999,144.050003,153.779999,130.669998,523.570007,340.010010,427.820007,366.500000,...,473.200012,251.250000,160.509995,16.552910,25.053798,17.685774,53.986645,16.731243,105.832624,56.532309

In [55]:
high_low_annual.loc['2020']

,apple_high,apple_low,amazon_high,amazon_low,google_high,google_low,meta_high,meta_low,microsoft_high,microsoft_low,...,nvidia_low,tesla_high,tesla_low,apple_percent_change,amazon_percent_change,google_percent_change,meta_percent_change,microsoft_percent_change,nvidia_percent_change,tesla_percent_change
Date,,,,,,,,,,,,,,,,,,,,,
2020-12-31,138.789993,53.1525,177.612503,81.301498,92.191498,50.443501,304.670013,137.100006,232.860001,132.520004,...,45.169998,239.573334,23.367332,161.116585,118.461537,82.761896,122.224653,75.716868,226.029462,925.248963

In [57]:
# Filtrar la tabla 'high_low_annual' para mostrar solo los años de 2019 a 2021 y crear una nueva tabla llamada 'covid'
covid_table = high_low_annual.loc['2019':'2021']

# Mostrar la nueva tabla 'covid' que contiene los datos filtrados de 2019 a 2021
covid_table

,apple_high,apple_low,amazon_high,amazon_low,google_high,google_low,meta_high,meta_low,microsoft_high,microsoft_low,...,nvidia_low,tesla_high,tesla_low,apple_percent_change,amazon_percent_change,google_percent_change,meta_percent_change,microsoft_percent_change,nvidia_percent_change,tesla_percent_change
Date,,,,,,,,,,,,,,,,,,,,,
2019-12-31,73.492500,35.500000,101.790001,73.046501,68.352501,51.118500,208.929993,128.559998,159.550003,97.199997,...,31.922501,29.020666,11.799333,107.021128,39.349591,33.713824,62.515554,64.146099,89.372694,145.951759
2020-12-31,138.789993,53.152500,177.612503,81.301498,92.191498,50.443501,304.670013,137.100006,232.860001,132.520004,...,45.169998,239.573334,23.367332,161.116585,118.461537,82.761896,122.224653,75.716868,226.029462,925.248963
2021-12-31,182.130005,116.209999,188.654007,144.050003,150.966507,84.805000,384.329987,244.610001,349.670013,211.940002,...,115.665001,414.496674,179.830002,56.724900,30.964251,78.016044,57.119490,64.985378,199.546102,130.493616

In [ ]:
# para hipotesis tengo que